body{
font-family:Arial;
margin:0;
background:#0f172a;
color:white;
text-align:center;
}

header{
padding:60px;
background:linear-gradient(135deg,#3b82f6,#9333ea);
}

section{
padding:40px;
}

.skill-list span{
background:#1e293b;
padding:10px 20px;
margin:5px;
display:inline-block;
border-radius:20px;
}

.project-card{
background:#1e293b;
margin:20px auto;
padding:20px;
width:250px;
border-radius:10px;
transition:transform 0.3s;
}

.project-card:hover{
transform:translateY(-10px);
}

footer{
padding:20px;
background:#020617;
}
